[sources.sql_database.credentials]
drivername = "postgresql+psycopg2" #
database = "sourcedatabasename" # fill this in!
password = "postgres" # fill this in!
username = "postgres" # fill this in!
host = "xxx.us-west-2.elb.amazonaws.com" # fill this in!
port = 5432 # fill this in!

[destination.postgres.credentials]
database = "destdatabasename" # fill this in!
password = "postgres" # fill this in!
username = "postgres" # fill this in!
host = "127.0.0.1" # fill this in!
port = 5432 # fill this in!
connect_timeout = 15
